<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar sesión</h1>

    <form action="/login" method="POST">
        <div>
            <input type="text" id="idUsuario" name="idUsuario" placeholder="Número de identificación" required>
        </div>
        <div>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <div>
            <input type="submit" value="Iniciar sesión">
        </div>
        <a href="/register">Regístrate</a>
    </form>
</body>
</html>

