<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Register</title>
</head>
<body>
    <h1>Regístrate</h1>


    <form action="/register" method="POST">
        <div>
            <input type="text" id="idUsuario" name="idUsuario" placeholder="Número de identificación" required>
        </div>
        <div>
            <input type="text" id="tipoUsuario" name="tipoUsuario" placeholder="Tipo de usuario" required>
        </div>
        <div>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        </div>
        <div>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
        </div>
        <div>
            <input type="email" id="correo" name="correo" placeholder="Correo" required>
        </div>
        <div>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <div>
            <input type="submit" value="Registrarse">
        </div>
        <a href="/login">Ya estás registrado? Inicia sesión aquí</a>
    </form>
</body>
</html>

